@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --primary-color: #639;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  background-color: var(--primary-color);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 24px;
}

a {
  text-decoration: none;
}

li a {
  color: #fff;
}

.active-nav {
  border-bottom: 3px solid aqua;
}

footer a {
  color: black;
  font-size: 20px;
}

li a:hover {
  color: #9f9f9d;
}

footer {
  background-color: var(--primary-color);
  color: white;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 20px;
}
